body {
    background-color: #333;
    color: #fff;
}

a {
    background-color: #000;
    border-radius: 0.5em;
    color: yellow;
    padding: 1em;
    margin:1em;
}

.slide {
    display: none;
}

button {
    padding: 1em;

}

